* {
    margin: 0;
    padding: 0;
}
#container {
    width: 950px;
    height: 500px;
    background-color: pink;
    position: relative;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}